<!DOCTYPE html>
<html>
<head>
  <title>Company Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <%= column_chart @chart1 %>
    <%= column_chart Developer.group(:city).count %>
</body>
</html>
